@import '../../../colors';

label:not(.btn) {
  color: $main-blue;
}

.btn-group-toggle {
  .active {
    color: #fff;
    background-color: $main-blue !important;
  }
}

.btn-light {
  background-color: $light-gray !important;
  border-radius: 10px;
  color: $medium-gray;
}


tbody tr {
  cursor: pointer;
}
