@import "../../../colors";

.event-button {
  height: 38px;
  width: 100%;
  margin-bottom: 0px;
}

.event-place {
  margin-bottom: 3px;
}

.event-grouping {
  width: 100%;
  height: 38px;
  margin-bottom: 15px;
}

.category-h2 {
  padding-right: 15px;
}

.category-selector {
  width: 100%;
  margin-bottom: 38px;
}

.vertical-space {
  margin-bottom: 38px;
}

.marking {
  color: $dark-gray;
}

.graph-gray {
  margin: 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  background: $light-gray;
  width: 100%;
  height: 100%;
}

.graph-white {
  padding: 0px;
  margin:0px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.graph-bar {
  background-color: $medium-gray;
  height: 38px;
}

.col-2 {
  padding: 0px;
}

.col-8 {
  padding: 0px;
}

