<div *ngIf="initializationMode()" class="container">
  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Saalname</h2>
    </div>
    <div class="col-6">
      <input type="text" [(ngModel)]="hall.name" class="form-control" required placeholder="Saal">
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Tiefe</h2>
    </div>
    <div class="col-6">
      <input type="number" min="1" max="{{maxHallSize.coordinateY}}" step="1" [(ngModel)]="hallSize.coordinateY" (change)="updatePlan()" class="form-control" required>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Breite</h2>
    </div>
    <div class="col-6">
      <input type="number" min="1" max="{{maxHallSize.coordinateY}}" step="1" [(ngModel)]="hallSize.coordinateX" (change)="updatePlan()" class="form-control" required>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <button type="button" (click)="cancelHallCreation()" class="btn btn-primary float-right btn-lg btn-font-size-reduced">Abbrechen</button>
    </div>
    <div class="col-6">
      <button type="button" (click)="completeInitializing()" class="btn btn-secondary float-left btn-lg">Weiter</button>
    </div>
  </div>

  <!-- todo 39256 delete after locations are implemented -->
  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <input type="number" min="1" step="1" [(ngModel)]="id" class="form-control" required>
    </div>
    <div class="col-6">
      <button type="button" (click)="loadHall()" class="btn btn-secondary float-left btn-lg btn-font-size-reduced">Lade Saal</button>
    </div>
  </div>
</div>

<div *ngIf="editingMode() || sectorMode()" class="container">
  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right info-text">Saalname</h2>
    </div>
    <div class="col-6 align-self-center">
      <h2 class="float-left info-text">{{ hall.name }}</h2>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right info-text">Tiefe</h2>
    </div>
    <div class="col-6 align-self-center">
      <h2 class="float-left info-text">{{ hallCreationService.getHallSize().coordinateY }}</h2>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right info-text">Breite</h2>
    </div>
    <div class="col-6 align-self-center">
      <h2 class="float-left info-text">{{ hallCreationService.getHallSize().coordinateX }}</h2>
    </div>
  </div>
</div>

<div *ngIf="editingMode()" class="container">
  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Erweitern</h2>
    </div>
    <div class="col-6">
      <div class="cross">
        <button type="button" (click)="expandPlanTo(direction.top)" [ngStyle]="{'position':'absolute', 'top':'0%', 'left':'33.3%'}" [disabled]="hallSize.coordinateY === maxHallSize.coordinateY" class="btn btn-cross">
          <i class="fa fa-angle-up cross-icon"></i>
        </button>
        <button type="button" (click)="expandPlanTo(direction.left)" [ngStyle]="{'position':'absolute', 'top':'33.3%', 'left':'0%'}" [disabled]="hallSize.coordinateX === maxHallSize.coordinateX" class="btn btn-cross">
          <i class="fa fa-angle-left cross-icon"></i>
        </button>
        <button type="button" (click)="expandPlanTo(direction.right)" [ngStyle]="{'position':'absolute', 'top':'33.3%', 'left':'66.6%'}" [disabled]="hallSize.coordinateX === maxHallSize.coordinateX" class="btn btn-cross">
          <i class="fa fa-angle-right cross-icon"></i>
        </button>
        <button type="button" (click)="expandPlanTo(direction.bottom)" [ngStyle]="{'position':'absolute', 'top':'66.6%', 'left':'33.3%'}" [disabled]="hallSize.coordinateY === maxHallSize.coordinateY" class="btn btn-cross">
          <i class="fa fa-angle-down cross-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Löschen</h2>
    </div>
    <div class="col-6">
      <div class="cross">
        <button type="button" (click)="shrinkPlanFrom(direction.top)" [ngStyle]="{'position':'absolute', 'top':'0%', 'left':'33.3%'}" [disabled]="hallSize.coordinateY === 1" class="btn btn-cross">
          <i class="fa fa-angle-down cross-icon"></i>
        </button>
        <button type="button" (click)="shrinkPlanFrom(direction.left)" [ngStyle]="{'position':'absolute', 'top':'33.3%', 'left':'0%'}" [disabled]="hallSize.coordinateX === 1"class="btn btn-cross">
          <i class="fa fa-angle-right cross-icon"></i>
        </button>
        <button type="button" (click)="shrinkPlanFrom(direction.right)" [ngStyle]="{'position':'absolute', 'top':'33.3%', 'left':'66.6%'}" [disabled]="hallSize.coordinateX === 1" class="btn btn-cross">
          <i class="fa fa-angle-left cross-icon"></i>
        </button>
        <button type="button" (click)="shrinkPlanFrom(direction.bottom)" [ngStyle]="{'position':'absolute', 'top':'66.6%', 'left':'33.3%'}" [disabled]="hallSize.coordinateY === 1" class="btn btn-cross">
          <i class="fa fa-angle-up cross-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Gang</h2>
    </div>
    <div class="col-6">
      <button type="button" (click)="selectUnitType(unitType.aisle)" class="btn btn-aisle float-left"></button>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Sitzplatz</h2>
    </div>
    <div class="col-6">
      <button type="button" (click)="selectUnitType(unitType.seat)" class="btn btn-seat float-left"></button>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Sektor</h2>
    </div>
    <div class="col-6">
      <button type="button" (click)="selectUnitType(unitType.sector)" class="btn btn-sector float-left"></button>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <button type="button" (click)="cancelHallCreation()" class="btn btn-primary float-right btn-lg btn-font-size-reduced">Abbrechen</button>
    </div>
    <div class="col-6">
      <button type="button" (click)="completeEditing()" class="btn btn-secondary float-left btn-lg">Weiter</button>
    </div>
  </div>
</div>

<div *ngIf="sectorMode()" class="container">
  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Sektorname</h2>
    </div>
    <div class="col-6">
      <input type="text" [(ngModel)]="selectedSector.name" class="form-control" required placeholder="Sektor">
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <h2 class="float-right">Kapazität</h2>
    </div>
    <div class="col-6">
      <input type="number" min="1" step="1" [(ngModel)]="selectedSector.capacity" (change)="clipCapacity()" class="form-control" required placeholder="10">
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-6 align-self-center">
      <button type="button" (click)="cancelHallCreation()" class="btn btn-primary float-right btn-lg btn-font-size-reduced">Abbrechen</button>
    </div>
    <div class="col-6">
      <button type="button" (click)="completeSectors()" class="btn btn-secondary float-left btn-lg btn-font-size-reduced">Speichern</button>
    </div>
  </div>
</div>
