<h1>News Erstellen</h1>
<form class="form" [formGroup]="newsForm" (ngSubmit)="addNews()">

  <div class="form-group row">
    <h2 for="inputTitle" class="col-sm-2 col-form-label text-right">Titel</h2>
    <div class="col-sm-9">
      <div class="md-form mt-0">
        <input type="input" class="form-control" name="title" formControlName="title" id="inputTitle"
               placeholder="Title">
      </div>
    </div>
    <div *ngIf="submitted && newsForm.controls.title.errors" class="error">
      <small class="form-text text-warning" *ngIf="newsForm.controls.title.errors.required">Your title is
        required!
      </small>
    </div>
  </div>

  <div class="form-group row">
    <h2 for="inputSummary" class="col-sm-2 col-form-label text-right">Kurzbeschreibung</h2>
    <div class="col-sm-9">
      <div class="md-form mt-0">
        <textarea rows="4" class="form-control" name="summary" formControlName="summary" id="inputSummary"
                  placeholder="Kurzbeschreibung"></textarea>
      </div>
    </div>
    <div *ngIf="submitted && newsForm.controls.summary.errors" class="error">
      <small class="form-text text-warning" *ngIf="newsForm.controls.summary.errors.required">Summary is
        required!
      </small>
    </div>
  </div>

  <div class="form-group row">
    <h2 for="inputText" class="col-sm-2 col-form-label text-right">Fließtext</h2>
    <div class="col-sm-9">
      <div class="md-form mt-0">
        <textarea rows="12" class="form-control" name="text" formControlName="text" id="inputText"
                  placeholder="Fließtext"></textarea>
      </div>
    </div>
    <div *ngIf="submitted && newsForm.controls.text.errors" class="error">
      <small class="form-text text-warning" *ngIf="newsForm.controls.text.errors.required">Your
        text is
        required!
      </small>
    </div>
  </div>

  <div class="form-group row">
    <h2 for="pictures" class="col-sm-2 col-form-label text-right">Fotos hinzufügen</h2>
    <div class="col-sm-9">
      <app-picture-upload id="pictures"></app-picture-upload>
    </div>
  </div>
</form>
<div class="bottom-right-above-1">
  <button type="button" class="btn btn-font-size-reduced btn-lg btn-primary" (click)="addNews()">Speichern</button>
</div>
<div class="bottom-right">
  <button onclick="history.back(-1)" type="button" class="btn btn-secondary btn-lg">Zurück</button>
</div>
