<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-12">
      <h1>Veranstaltungen</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h2 class="float-right">Ort</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="Name" (change)="loadEvents()" [(ngModel)]="eventFilter.locationName" type="text"/>
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="Saalname" (change)="loadEvents()" [(ngModel)]="eventFilter.hallName"  type="text"/>
    </div>
    <div class="col-md-2">
      <h2 class="float-right">Datum/Preis</h2>
    </div>
    <div class="col-md-2">
      <!--<form class="date-control">
        <my-date-picker placeholder="tt/mm/jjjj" name="mydate" [options]="myDatePickerOptions"
                        [(ngModel)]="model" required></my-date-picker>
      </form>TODO-->
    </div>
    <div class="col-md-1">
      <input class="form-control" placeholder="Uhrzeit" type="text" value=""/>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <input class="form-control" placeholder="Ortsname, PLZ" (change)="loadEvents()" [(ngModel)]="eventFilter.locationPlace" type="text"/>
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="Straße" (change)="loadEvents()" [(ngModel)]="eventFilter.locationStreet"  type="text"/>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div style="margin: 0" class="row">
        <div class="col-md-9">
          <input class="form-control" placeholder="Dauer" type="text" value="">
        </div>
        <div class="col-md-2" style="padding-left: 0">
          <div class="align-content-end">
            <label style="vertical-align: center; padding: 0; margin-top: 5px">min</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div style="margin: 0" class="row">
        <div class="col-md-9">
          <input  class="form-control" placeholder="Preis" type="text" value=""/>
        </div>
        <div class="col-md-2" style="padding-left: 0">
          <div class="align-content-end">
            <label style="vertical-align: center; padding: 0; margin-top: 5px">€</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <select class="select-control" (change)="loadEvents()" [(ngModel)]="eventFilter.locationCountry" >
        <option value="">(alle)</option>
        <option value="Austria">Österreich</option>
        <option value="Germany">Deutschland</option>
        <option value="Asgardlandistan">Asgardlandistan</option>
      </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
  </div>








  <div class="row mt-3"></div>

  <div class="row">
    <div class="col-md-3">
      <h2 class="float-right">Veranstaltung</h2>
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="Name" (change)="loadEvents()" [(ngModel)]="eventFilter.name" type="text"/>
    </div>
    <div class="col-md-2">
       <select class="select-control" (change)="loadEvents()" [(ngModel)]="eventFilter.eventCategory" >
          <option value="">(alle)</option>
          <option value="CINEMA">Cinema</option>
          <option value="CONCERT">Concert</option>
          <option value="OTHER">Other</option>
        </select>
    </div>
    <div class="col-md-2">
      <h2 class="float-right">Top 10</h2>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-1">

    </div>
  </div>



  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="Künstler" (change)="loadEvents()" [(ngModel)]="eventFilter.artistName" type="text"/>
    </div>
    <div class="col-md-2">
      <input class="form-control" placeholder="Inhalt" (change)="loadEvents()" [(ngModel)]="eventFilter.content" type="text"/>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-2">
    </div>
    <div class="col-md-1">
    </div>
  </div>




  <div class="row mt-3"></div>


<div class="row" *ngFor="let event of events; let i1 = index">

  <div (click)="isActive=[];isActive[i1] = !isActive[i1];" class="card"
       [attr.aria-expanded]="isActive[i1]" aria-controls="collapseExample">
    <div  class="card-body">
      <h3 class="card-event">{{ event.name }}</h3>
      <h5 class="card-title">{{ event.category }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ event.hall.name}}</h6>
      <p class="card-text">{{ event.content }}</p>
      <div id="collapseExample" [ngbCollapse]="!isActive[i1]">
        <table class="table table-striped">
          <tr *ngFor="let p of event.performances">
            <td></td>
            <td>{{ p.name }}</td>
            <td></td>
            <td>{{ p.startAt }}</td>
            <td>{{ p.name }}</td>
          </tr>
        </table>

      </div>

    </div>

  </div>

</div>


<!--
<div class="row">
  <div class="col-2">
    Event
  </div>
  <div class="col-2">
    Kategorie
  </div>
  <div class="col-2">
    Ort
  </div>
  <div class="col-2">
    Saal
  </div>
  <div class="col-2">
    Dauer
  </div>
  <div class="col-2">
    Preis
  </div>
</div>
<div>

    <div style="overflow-y: auto;" *ngFor="let event of events; let i1 = index" style="width:100%">
      <table class="table table-striped">
        <thead>
        <tr>
          <td width="40%">{{ event.name }}</td>
          <td>{{ event.category }}</td>
          <td>{{ event.hall.location.name }}</td>
          <td>{{ event.hall.name }}</td>
          <td>{{ event.duration }}</td>
          <td>TODO</td>
        </tr>
        </thead>
        <tr *ngFor="let p of event.performances">
          <td></td>
          <td>{{ p.name }}</td>
          <td></td>
          <td>{{ p.startAt }}</td>
          <td>{{ p.name }}</td>
        </tr>
      </table>
    </div>
</div>

-->




<!--
<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <td>Event</td>
      <td>Kategorie</td>
      <td>Ort</td>
      <td>Saal</td>
      <td>Dauer</td>
      <td>Preis</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of events">
      <td>{{ x.name }}</td>
      <td>{{ x.category }}</td>
      <td>{{ x.hall.location.name }}</td>
      <td>{{ x.hall.name }}</td>
      <td>{{ x.duration }}</td>
      <td>TODO</td>

    <tr *ngFor="let p of x.performances">
      <td></td>
      <td>{{ p.name }}</td>
      <td></td>
      <td>{{ p.startAt }}</td>
      <td>{{ p.name }}</td>
    </tr>

    </tr>

    </tbody>
  </table>
</div>
-->





