
.form-control {
  width: 100% !important;
}

.select-control {
  width: 100% !important;
}

.date-control {
  width: 100% !important;
}

.col-md-1 {
  padding: 2px !important;
}

.col-md-2 {
  padding: 2px !important;
}

.col-md-3 {
  padding: 2px !important;
}

.col-md-10 {
  padding: 2px !important;
}

.col-md-9 {
  padding: 2px !important;
}

.col-md-6 {
  padding: 2px !important;
}
