<div class="jumbotron mt-md-0">
  <div class="text-center">
  <div *ngIf="!authService.isLoggedIn()" class="text-center">
    <h1 class="display-4">Willkommen bei TicketLine!</h1>
    <hr class="my-4">
  </div>
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" role="button" routerLink="/login">Login</a>
  </div>
  <div *ngIf="authService.isLoggedIn()">
    <div *ngIf="authService.isLoggedIn()">
      <div class="card-deck rounded-0" style="margin: 40px !important;">
        <div class="card rounded-0">
            <img class="card-img-top" src="../../../assets/veranstaltungen_gradient.png" alt="Veranstaltungen">
          <a class="text-over-img" role="button" routerLink="/home" style="color: whitesmoke !important;">Veranstaltungen</a>
        </div>
        <div class="card rounded-0">
          <img class="card-img-top" src="../../../assets/kunden_gradient.png" alt="Kundenverwaltung">
          <a class="text-over-img" role="button" routerLink="/home" style="color: whitesmoke !important;">Kundenverwaltung</a>
        </div>
      </div>


      <div class="card-deck rounded-0" style="margin: 40px !important;">
        <div class="card rounded-0">
          <img class="card-img-top" src="../../../assets/reservierung_gradient.png" alt="Card image cap">
          <a class="text-over-img" role="button" routerLink="/home" style="color: whitesmoke !important;">Reservierungen/Rechnungen</a>
        </div>
        <div class="card rounded-0">
          <img class="card-img-top" src="../../../assets/news_gradient.png" alt="News">
          <a class="text-over-img" role="button" routerLink="/home" style="color: whitesmoke !important;">News</a>
        </div>
      </div>


      <div class="card-deck rounded-0" style="margin: 40px !important;">
        <div class="card rounded-0">
          <img class="card-img-top" src="../../../assets/orte_gradient.png" alt="Card image cap">
          <a class="text-over-img" role="button" routerLink="/home" style="color: whitesmoke !important;">Orte/Säle</a>
        </div>
        <div class="card rounded-0">
          <img class="card-img-top" src="../../../assets/nutzer_gradient.png" alt="Card image cap">
          <a class="text-over-img" role="button" routerLink="/home" style="color: whitesmoke !important;">Nutzerverwaltung</a>
        </div>
      </div>
    </div>
  </div>
</div>
