<div class="row my-3">
  <div class="col-12">
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="col">
          <input class="form-control" type="text" placeholder="Veranstaltung" formControlName="performanceName">
          <input class="form-control" type="text" placeholder="Reservierungsnummer" formControlName="reservationCode">
          <input class="form-control" type="text" placeholder="Rechnungnummer" formControlName="invoiceNumber">
        </div>
        <div class="col">
          <input class="form-control" type="text" placeholder="Kunde" formControlName="clientName">
          <input class="form-control" type="text" placeholder="Email" formControlName="clientEmail">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="isCancelled" formControlName="isCancelled">
            <label class="form-check-label" for="isCancelled">Storniert</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="isPaid" formControlName="isPaid">
            <label class="form-check-label" for="isPaid">Bezahlt</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Reservierungsnummer</th>
          <th scope="col">Rechnungsnummer</th>
          <th scope="col">Kundenname</th>
          <th scope="col">Email</th>
          <th scope="col">Storniert</th>
          <th scope="col">Bezahlt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{ invoice.reservationCode }}</td>
          <td>{{ invoice.number }}</td>
          <td>{{ getClientFullName(invoice) }}</td>
          <td>{{ invoice.client.email }}</td>
          <td><i class="fas fa-check" *ngIf="invoice.cancelled"></i> </td>
          <td><i class="fas fa-check" *ngIf="invoice.paid"></i> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row my-3">
  <div class="col-12 d-flex justify-content-between">
    <button class="btn btn-primary" (click)="previousPage()" [disabled]="page === 0"><i class="fas fa-chevron-left"></i></button>
    <button class="btn btn-primary" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
