<div class="container" *ngIf="event">
  <div class="row">
    <div class="col-md-12">
      <h1 align="center">{{event.name}}</h1>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <h2 class="float-right">Ort</h2>
        </div>
        <div class="col-md-4">
          <input readonly class="form-control" type="text" value="{{event.hall.location.name}}" >
        </div>
        <div class="col-md-4">
          <input readonly class="form-control" type="text" value="{{event.hall.location.street}}" >
        </div>
        <div class="col-md-1">
          <input readonly class="form-control" type="text" value="{{event.hall.location.postalCode}}" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-4">
          <input readonly class="form-control" type="text" value="{{event.hall.location.place}}" >
        </div>
        <div class="col-md-4">
          <input readonly class="form-control" type="text" value="{{event.hall.location.country}}" >
        </div>
        <div class="col-md-1">

        </div>
      </div>

      <div class="row-mt-3"></div>

      <div class="row">
        <div class="col-md-3">
          <h2 class="float-right">Künstler</h2>
        </div>
        <div class="col-md-4">
          <input readonly class="form-control" type="text" value="{{event.artists[0].name}}" >
        </div>
        <div class="col-md-4">
          <input readonly class="form-control" type="text" value="{{event.artists[0].surname}}" >
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary">Mehr</button>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <h2 class="float-right">Inhalt</h2>
    </div>
    <div class="col-md-5">
      <textarea readonly class="form-control">
        {{event.content}}
      </textarea>
    </div>
  </div>




  <div class="row mt-3"></div>


  <table class="table table-striped">
    <thead>
    <tr>
      <td>Name</td>
      <td>Datum</td>
      <td>Uhrzeit</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of performances">
      <td>{{ x.name }}</td>
      <td>{{ x.startAt | date:'dd.mm.yyyy'  }}</td>
      <td>{{ x.startAt | date:'HH:MM'  }}</td>
    </tr>
    </tbody>
  </table>

</div>

