@import "../../../colors";

$theme-colors:(
  "primary": $main-blue,
  "secondary":$main-orange,
  "danger": $custom-red,
  "success": $custom-green,

  "lightgray": $light-gray,
  "mediumGray": $medium-gray,
  "darkGray": $dark-gray,
  "lightOrange": $light-orange,
  "mediumBlue": $medium-blue,
  "darkBlue": $dark-blue
);


.form-control {
  width: 100% !important;
}

.select-control {
  width: 100% !important;
}

.date-control {
  width: 100% !important;
}

textarea{
  background-color: $light-gray !important;
  border-radius: 0px !important;
  color: $dark-gray !important;
  overflow: hidden !important;
  resize: none;
  height: 100%;
}

.col-md-1 {
  padding: 2px !important;
}

.col-md-2 {
  padding: 2px !important;
}

.col-md-3 {
  padding: 2px !important;
}

.col-md-4 {
  padding: 2px !important;
}

.col-md-10 {
  padding: 2px !important;
}

.col-md-9 {
  padding: 2px !important;
}

.col-md-6 {
  padding: 2px !important;
}
