@import "../../../colors";

h2 {
  font-size: 24px !important;
}

.small-padding {
  padding: 5px !important;
}

.form-control {
  width: 100% !important;
}

.select-control {
  width: 100% !important;
}

.date-control {
  width: 100% !important;
}

.row-separator {
  height: 25px;
}

textarea{
  padding-top: 5px;
  background-color: $light-gray !important;
  border-radius: 0px !important;
  color: $dark-gray !important;
  overflow: hidden !important;
  resize: none;
  height: 230px;
}

textarea.form-control {
  padding-top: 12px;
}

tr {
  cursor: pointer;
}





.col-1 {
  padding: 5px;
}

.col-2 {
  padding: 5px;
}

.col-3 {
  padding: 5px;
}

.col-4 {
  padding: 5px;
}

.col-10 {
  padding: 5px;
}

.col-9 {
  padding: 5px;
}

.col-6 {
  padding: 5px;
}
