@import "../../../colors";

$theme-colors:(
  "primary": $main-blue,
  "secondary":$main-orange,
  "danger": $custom-red,
  "success": $custom-green,

  "lightgray": $light-gray,
  "mediumGray": $medium-gray,
  "darkGray": $dark-gray,
  "lightOrange": $light-orange,
  "mediumBlue": $medium-blue,
  "darkBlue": $dark-blue
);


.form-control {
  width: 100% !important;
}

.select-control {
  width: 100% !important;
}

.date-control {
  width: 100% !important;
}

.row-separator {
  height: 25px;
}

textarea{
  padding-top: 5px;
  background-color: $light-gray !important;
  border-radius: 0px !important;
  color: $dark-gray !important;
  overflow: hidden !important;
  resize: none;
  height: 100%;
}

textarea.form-control {
  padding-top: 12px;
}

tr {
  cursor: pointer;
}





.col-1 {
  padding: 5px;
}

.col-2 {
  padding: 5px;
}

.col-3 {
  padding: 5px;
}

.col-4 {
  padding: 5px;
}

.col-10 {
  padding: 5px;
}

.col-9 {
  padding: 5px;
}

.col-6 {
  padding: 5px;
}
