<div class="container" *ngIf="event">
  <div class="row">
    <div class="col-12">
      <h1 align="center">{{ event.name }}</h1>
    </div>
  </div>



  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-3">
          <h2 class="float-right">Ort</h2>
        </div>
        <div class="col-4">
          <input readonly class="form-control" type="text" value="{{event.hall.location.name}}" >
        </div>
        <div class="col-4">
          <input readonly class="form-control" type="text" value="{{event.hall.location.street}}" >
        </div>
        <div class="col-1">
          <input readonly class="form-control" type="text" value="{{event.hall.location.postalCode}}" >
        </div>
      </div>
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-4">
          <input readonly class="form-control" type="text" value="{{event.hall.location.place}}" >
        </div>
        <div class="col-4">
          <input readonly class="form-control" type="text" value="{{event.hall.location.country}}" >
        </div>
        <div class="col-1">

        </div>
      </div>

      <div class="row row-separator"></div>

      <div class="row">
        <div class="col-3">
          <h2 class="float-right">Dauer/€</h2>
        </div>
        <div class="col-4">
          <input readonly class="form-control" type="text" value="{{event.duration / 3600 | number:'1.0-2' }}h" >
        </div>
        <div class="col-4">
          <input readonly class="form-control" type="text"
                 value="{{event.priceCategories[0].priceInCents/100 | number:'1.2-2'}} - {{event.priceCategories[event.priceCategories.length-1].priceInCents/100 | number:'1.2-2'}}€" >
        </div>
        <div class="col-1">
        </div>
      </div>

      <div class="row row-separator"></div>

      <div class="row">
        <div class="col-3">
          <h2 class="float-right">Künstler</h2>
        </div>
        <div class="col-4">
          <input readonly class="form-control" type="text" value="{{event.artists[0].name}}" >
        </div>
        <div class="col-4">
          <input readonly class="form-control" type="text" value="{{event.artists[0].surname}}" >
        </div>
        <div class="col-1">
          <button class="btn btn-primary" data-toggle="modal"
                  [attr.data-target]="'.artist-modal'" >Mehr</button>
        </div>




        <div [ngClass]="['modal', 'fade', 'artist-modal']" tabindex="-1" role="dialog"
             aria-labelledby="Message details modal"
             aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Künstler</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <td>Vorname</td>
                    <td>Nachname</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let a of event.artists">
                    <td>{{ a.name }}</td>
                    <td>{{ a.surname}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-1">
      <h2 class="float-right">Inhalt</h2>
    </div>
    <div class="col-5">
      <textarea readonly class="form-control">{{ event.content }}</textarea>
    </div>
  </div>




  <div class="row mt-3"></div>


  <table class="table table-striped">
    <thead>
    <tr>
      <td>Name</td>
      <td>Datum</td>
      <td>Uhrzeit</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of performances">
      <td>{{ x.name }}</td>
      <td>{{ x.startAt | date:'dd.mm.yyyy' }}</td>
      <td>{{ x.startAt | date:'HH:MM' }}</td>
    </tr>
    </tbody>
  </table>

</div>
<div class="bottom-right">
  <button onclick="history.back(-1)" type="button" class="btn btn-secondary btn-lg">Zurück</button>
</div>

