<h1>News</h1>
<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button (click)="vanishError()" aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="mt-4 container">
  <div class="row p-2 mb-4">
    <button *ngIf="isAdmin()" type="button" class="btn btn-secondary btn-sm mr-4" data-toggle="modal"
            data-target=".create-news-modal">Add news
    </button>

    <div class="modal fade create-news-modal" tabindex="-1" role="dialog" aria-labelledby="Create news modal"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create news</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form" [formGroup]="newsForm" (ngSubmit)="addNews()">

              <div class="form-group">
                <label for="inputTitle">Title</label>
                <input type="text" name="title" formControlName="title" class="form-control" id="inputTitle"
                       aria-describedby="titleHelp" placeholder="Enter title">
                <div *ngIf="submitted && newsForm.controls.title.errors" class="error">
                  <small class="form-text text-warning" *ngIf="newsForm.controls.title.errors.required">Your title is
                    required!
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="inputSummary">Summary</label>
                <textarea rows="3" name="summary" formControlName="summary" class="form-control" id="inputSummary"
                          aria-describedby="summaryHelp" placeholder="Enter summary"></textarea>
                <div *ngIf="submitted && newsForm.controls.summary.errors" class="error">
                  <small class="form-text text-warning" *ngIf="newsForm.controls.summary.errors.required">Your
                    summary is
                    required!
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="inputText">Text</label>
                <textarea rows="6" name="text" formControlName="text" class="form-control" id="inputText"
                          aria-describedby="textHelp" placeholder="Enter text"></textarea>
                <div *ngIf="submitted && newsForm.controls.text.errors" class="error">
                  <small class="form-text text-warning" *ngIf="newsForm.controls.text.errors.required">Your text is
                    required!
                  </small>
                </div>
              </div>

              <button type="button" (click)="addNews()" class="btn btn-success float-right">Add news</button>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="news">
    <li *ngFor="let news of getNews()">
      <div><span>title: </span> {{news.title}}</div>
      <div><span>id: </span>{{news.id}}</div>
      <div><span>title: </span>{{news.title}}</div>
      <div><span>summary: </span>{{news.summary}}</div>
      <button type="button" (click)="selectNewsDetails(news.id)">Details</button>
    </li>
  </ul>

</div>

<div class="bottom-right">
  <button onclick="history.back(-1)" type="button" class="btn btn-secondary btn-lg">Zurück</button>
</div>
