@import "../../../colors";
.news-container {
  width: 1470px;
  height: 790px;
  overflow: scroll;
  background-color: $light-gray;
}
.news-entry-panel {
  margin-top: 40px;
  width: inherit;
  height: 186px;
  word-break: normal;
  background-color: white !important;
}
.space{
  width:auto;
  height: 15px;
}
.not-read-marker{
  width:15px;
  height: 186px;
  margin-right: 25px;
  background-color: $main-orange;
}
.read-marker{
  width:15px;
  height: 186px;
  margin-right: 25px;
  background-color: $medium-gray;
}

.row-padding {
  padding-top: 20px;
  padding-bottom: 15px;
}

.row-padding-2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.no-padding {
  padding: 0px;
}
