<h1>News</h1>
<div class="news-container">
  <div class="mt-4 container">
    <ng-container *ngFor="let news of getNews()">
      <div class="news-entry-panel">
        <div class="mt-4 container">
          <div class="row">
            <div class="column md-1">
              <div class="read-marker" *ngIf="news.read"></div>
              <div class="not-read-marker" *ngIf="!news.read"></div>
            </div>
            <div class="column md-1">
              <div class="row">
                <div class="column md-1">
                  <div class="space"></div>
                </div>
              </div>
              <div class="row">
                <div class="column md-1">
                  <h5>{{news.title}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="column md-1">
                  {{news.publishedAt | date: 'short'}}
                </div>
              </div>
              <div class="row">
                <div class="column md-1">
                  {{news.summary}}
                </div>
              </div>
              <div class="row">
                <div class="column md-12">
                  <button (click)="selectNewsDetails(news.id)" type="button" class="btn btn-primary">Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="bottom-right-above-1">
  <button class="btn-font-size-reduced btn btn-secondary btn-lg " (click)="addNews()" *ngIf="isAdmin()" type="button">Neuer Eintrag</button>
</div>
<div class="bottom-right">
  <button class="btn btn-secondary btn-lg" onclick="history.back(-1)"  *ngIf="!onlyNew()" type="button">Zurück</button>
</div>
<div class="bottom-right">
  <button class="btn-font-size-reduced btn btn-secondary btn-lg" (click)="navigateMainMenu()"  *ngIf="onlyNew()" type="button">Hauptmenü</button>
</div>
