<h1>News</h1>

<button *ngIf="isAdmin()" type="button" (click)="addNews()">Neuer Eintrag</button>
<div class="mt-4 container">
  <div class="row p-2 mb-4">
    <ul class="news">
      <li *ngFor="let news of getNews()">
        <div><span>title: </span> {{news.title}}</div>
        <div><span>id: </span>{{news.id}}</div>
        <div><span>title: </span>{{news.title}}</div>
        <div><span>summary: </span>{{news.summary}}</div>
        <button type="button" (click)="selectNewsDetails(news.id)">Details</button>
      </li>
    </ul>
  </div>
</div>

<div class="bottom-right">
  <button onclick="history.back(-1)" type="button" class="btn btn-secondary btn-lg">Zurück</button>
</div>
