@import "../../../colors";

.droppable {
  width: inherit;
  height: 100px;
  border-style: solid;
  border-width: 0.5px;
  text-align: center;
}

.droppable.dragover {
  background-color: $main-blue;

}

.droppable.mouseover {
  background-color: $light-gray;
}

.fa-big{
  font-size: 40px;
}

.fa-medium{
  font-size: 30px;
}
