$main-blue: #8FBEFF;
$main-orange: #FF9824;
$medium-blue: #565DEF;
$dark-blue: #1400AE;
$custom-red: #D11C04;
$custom-green: #43C62A;
$light-gray: #EAEAEA;
$medium-gray: #CFCFCF;
$dark-gray: #585858;
$light-orange: #FFB426;
