<div class="row mt-3">
  <div class="col-12">
    <h1>Veranstaltungsorte</h1>
  </div>
</div>


<!-- text fields -->

<form class="container my-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 justify-content-center align-items-center">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
          <h2 class="text-right">Name</h2>
        </div>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="location.name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center my-5">
    <div class="col-md-6 justify-content-center align-items-center">
      <div class="row justify-content-center align-items-center" style="margin-bottom: 10px">
        <div class="col-md-3">
          <h2 class="text-right">Adresse</h2>
        </div>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Straße" [(ngModel)]="location.street" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <input class="form-control" type="text" placeholder="Ort" [(ngModel)]="location.place" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-md-3">
          <input class="form-control" type="text" placeholder="PLZ" [(ngModel)]="location.postalCode" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Land" [(ngModel)]="location.country" [ngModelOptions]="{standalone: true}">        </div>
      </div>
    </div>
  </div>
</form>


<!-- lower right buttons -->

<div class="bottom-right-above-1">
  <button type="button" (click)="saveLocation()" class="btn btn-primary btn-lg btn-font-size-reduced">Speichern</button>
</div>

<div class="bottom-right">
  <button onclick="history.back(-1)" type="button" class="btn btn-secondary btn-lg">Zurück</button>
</div>
