<div class="container">
  <h1 style="padding-bottom: 0px; margin: 0px;">{{getEventName()}} - {{getPerformanceName()}}</h1>
  <div class="row full-width h-100">
    <div class="col-2 no-padding my-auto">
      <div class="container-fluid key-bg" style="padding-top: 70px; padding-left: 100px">
        <div class="row row-padding" *ngFor="let cat of cats; let i = index">
          <div class="col-6">
            <h2  style="font-size:20px">Kategorie {{i+1}}</h2>
          </div>
          <div class="col-6 align-self-center">
            <input readonly class="form-control" type="text" value="{{cat.toFixed(2)}} €">
          </div>
        </div>
        <div class="row row-padding" style="padding-top: 100px">
          <div class="col-6">
            <h2 style="font-size: 20px">Gesamtpreis</h2>
          </div>
          <div class="col-6 align-self-center">
            <input readonly class="form-control" type="text" value="... €">
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 no-padding my-auto">
      <div class="container-fluid hall-plan key-bg">
        <div class="btn stage"></div>
        <ng-container *ngFor="let seat of seats">
          <button type="button" (click)="clickSeat(seat)" [ngStyle]="{'width':calcSeatSize(),'height':calcSeatSize(),'position':'absolute','left':calcPositionLeft(seat),'top':calcPositionTop(seat)}" class="btn btn-seat"></button>
        </ng-container>
        <!---   <ng-container *ngFor="let sector of sectors">
          <button type="button" (click)="clickSector(sector)" [ngStyle]="{'width':calcSectorSizeX(sector),'height':calcSectorSizeY(sector),'position':'absolute','left':calcPositionLeft(sector.upperBoundary),'top':calcPositionTop(sector.upperBoundary)}" class="btn btn-sector"></button>
        </ng-container>--->
      </div>
    </div>
    <div class="col-2 no-padding my-auto">
      <div class="container-fluid key-bg" style="padding-top: 70px">
        <div class="row row-padding">
          <div class="col-1 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Sitzplatz</h2>
          </div>
          <div class="col-1 align-self-center">
            <button type="button" class="btn btn-seat-key disabled" ></button>
          </div>
        </div>
        <div class="row row-padding">
          <div class="col-1 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Sektor</h2>
          </div>
          <div class="col-1 align-self-center">
            <button type="button" class="btn btn-key-key disabled"></button>
          </div>
        </div>
        <div class="row row-padding">
          <div class="col-1 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Reserviert</h2>
          </div>
          <div class="col-1 align-self-center">
            <button type="button" class="btn btn-reserved-key disabled">X</button>
          </div>
        </div>
        <div class="row row-padding">
          <div class="col-1 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Auswahl</h2>
          </div>
          <div class="col-1 align-self-center">
            <button type="button" class="btn btn-choice-key disabled"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-right">
  <button onclick="history.back(-1)" type="button" class="btn btn-secondary btn-lg">Zurück</button>
</div>
