<div class="container">
  <h1 style="padding-bottom: 0px; margin: 0px;">{{getEventName()}} - {{getPerformanceName()}}</h1>
  <div class="row full-width h-100">
    <div class="col-3 no-padding my-auto">
      <div class="container-fluid key-bg" style="padding-top: 70px; padding-left: 100px">
        <div class="row row-padding" *ngFor="let cat of cats">
          <div class="col-6 align-self-center">
            <h2 class="float-right" style="font-size:20px">{{cat.name}}</h2>
          </div>
          <div class="col-4 align-self-center">
            <input readonly class="form-control" type="text" value="{{cat.priceInCent.toFixed(2)}} €">
          </div>
        </div>
        <div class="row row-padding" style="padding-top: 25px" *ngIf="anySectorSelected()">
          <div class="col-10 align-self-center">
            <div class="sector-pop shadow p-3 mb-5 bg-white rounded">
              <div class="row row-padding">
                <div class="col-12 mx-auto">
                  <h2 class="text-center" style="font-size: 20px">{{getSelectedSectorName()}}</h2>
                </div>
              </div>
              <div class="row row-padding">
                <div class="col-6 align-self-center">
                  <h5 style="font-size: 16px" class="float-right">Anzahl</h5>
                </div>
                <div class="col-6 align-self-center">
                  <input class="form-control" style="height: 28px; font-size: 16px" type="number" min="0" max="{{getSelectedSectorFree()}}" step="1" [(ngModel)]="sectorNum" (input)="checkValue(); updateSelectedNum()" placeholder="{{updateSelectedNum()}}">
                </div>
              </div>
              <div class="row row-padding">
                <div class="col-6 align-self-center">
                  <h5 style="font-size: 16px" class="float-right">Kapazität</h5>
                </div>
                <div class="col-4 align-self-center">
                  <input readonly class="form-control" style="height: 26px; font-size: 16px" type="text" value="{{getSelectedSectorCap()}}">
                </div>
              </div>
              <div class="row" style="padding-bottom: 5px">
                <div class="col-6 align-self-center">
                  <h5 style="font-size: 16px" class="float-right">Frei</h5>
                </div>
                <div class="col-4 align-self-center">
                  <input readonly class="form-control" style="height: 26px; font-size: 16px" type="text" value="{{getSelectedSectorFree()}}">
                </div>
              </div>
              <div class="row" style="padding-bottom: 10px; padding-top: 30px">
                <div class="col-12 text-center">
                  <button (click)="sectorDone()" style="width: 100px" type="button" class="btn btn-primary btn-md">Fertig</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-padding" style="padding-top: 100px">
          <div class="col-6 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Gesamtpreis</h2>
          </div>
          <div class="col-4 align-self-center">
            <input readonly class="form-control" type="text" value="{{getTicketSum().toFixed(2)}} €">
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 no-padding my-auto">
      <div class="container-fluid hall-plan key-bg">
        <div class="btn stage"></div>
        <ng-container *ngFor="let dunit of defUnits">
          <div *ngIf="dunit.capacity == 1">
            <div *ngIf="dunit.free > 0">
              <button type="button" (click)="clickSeat(dunit)" [style.background-color]="getBackColor(dunit)" [ngStyle]="{'width':calcSeatSize(),'height':calcSeatSize(),'position':'absolute','left':calcPositionLeft(dunit.point1),'top':calcPositionTop(dunit.point1)}" class="btn btn-seat"></button>
            </div>
            <div *ngIf="dunit.free == 0">
              <button type="button" [ngStyle]="{'width':calcSeatSize(),'height':calcSeatSize(),'position':'absolute','left':calcPositionLeft(dunit.point1),'top':calcPositionTop(dunit.point1), 'font-size':calcFontSize(), 'line-height': calcLineHeight()}" class="btn btn-reserved disabled">X</button>
            </div>
          </div>
          <div *ngIf="dunit.capacity > 1">
            <div *ngIf="dunit.free > 0">
              <button (click)="sectorSelected(dunit)" [ngStyle]="{'width':calcSectorSizeX(dunit),'height':calcSectorSizeY(dunit),'position':'absolute','left':calcPositionLeft(dunit.point1),'top':calcPositionTop(dunit.point1)}" class="btn btn-sector text-truncate">{{dunit.free}} frei<br>{{dunit.name}}</button>
             </div>
            <div *ngIf="dunit.free == 0 && sectorIsSelected(dunit) == false">
              <button [ngStyle]="{'width':calcSectorSizeX(dunit),'height':calcSectorSizeY(dunit),'position':'absolute','left':calcPositionLeft(dunit.point1),'top':calcPositionTop(dunit.point1)}" class="btn btn-sector-zero text-truncate">{{dunit.name}}<br>Frei:{{dunit.free}}</button>
            </div>
            <div *ngIf="dunit.free == 0 && sectorIsSelected(dunit) == true">
              <button (click)="sectorSelected(dunit)" [ngStyle]="{'width':calcSectorSizeX(dunit),'height':calcSectorSizeY(dunit),'position':'absolute','left':calcPositionLeft(dunit.point1),'top':calcPositionTop(dunit.point1)}" class="btn btn-sector-zero-selected text-truncate">{{dunit.name}}<br>Frei:{{dunit.free}}</button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let cat of cats">
          <button type="button" [ngStyle]="{'height': calcCatHeight(cat.id), 'background-color': getCatColor(cat.id),'position':'absolute', 'top':calcCatPosition(cat.id)}" class="btn btn-cat disabled"></button>
          <h5 [ngStyle]="{'top': calcCatNamePosition(cat.id),'position':'absolute'}" style="margin-left: 835px">{{cat.name}}</h5>
        </ng-container>
      </div>
    </div>
    <div class="col-3 no-padding my-auto">
      <div class="container-fluid key-bg" style="padding-top: 70px; padding-right: 100px">
        <div class="row row-padding">
          <div class="col-6 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Saal</h2>
          </div>
          <div class="col-4 align-self-center">
            <input readonly class="form-control" type="text" value="{{getHallName()}}">
          </div>
        </div>
        <div class="row row-padding">
          <div class="col-6 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Uhrzeit</h2>
          </div>
          <div class="col-4 align-self-center">
            <input readonly class="form-control" type="text" value="{{getStartAt()}}">
          </div>
        </div>
        <div class="row row-padding" style="padding-top: 50px">
          <div class="col-6 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Sitzplatz</h2>
          </div>
          <div class="col-1 align-self-center">
            <button type="button" class="btn btn-seat-key disabled" ></button>
          </div>
        </div>
        <div class="row row-padding">
          <div class="col-6 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Sektor</h2>
          </div>
          <div class="col-1 align-self-center">
            <button type="button" class="btn btn-key-key disabled"></button>
          </div>
        </div>
        <div class="row row-padding">
          <div class="col-6 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Reserviert</h2>
          </div>
          <div class="col-1 align-self-center">
            <button type="button" class="btn btn-reserved-key disabled">X</button>
          </div>
        </div>
        <div class="row row-padding">
          <div class="col-6 align-self-center">
            <h2 class="float-right" style="font-size: 20px">Auswahl</h2>
          </div>
          <div class="col-1 align-self-center">
            <button type="button" class="btn btn-choice-key disabled"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectionNotEmpty() === true">
  <div class="bottom-right-above-1">
    <button type="button" class="btn btn-primary btn-lg">Fertig</button>
  </div>
</div>
<div class="bottom-right">
  <button onclick="history.back(-1)" type="button" class="btn btn-secondary btn-lg">Zurück</button>
</div>
