<div *ngIf="showLegalHall()" class="container hall-plan">
  <div class="btn stage"></div>
  <ng-container *ngFor="let seat of seats">
    <button type="button" (click)="clickSeat(seat)" [ngStyle]="{'width':calcSeatSize(),'height':calcSeatSize(),'position':'absolute','left':calcPositionLeft(seat),'top':calcPositionTop(seat)}" class="btn btn-seat"></button>
  </ng-container>
  <ng-container *ngFor="let aisle of aisles">
    <button type="button" (click)="clickAisle(aisle)" [ngStyle]="{'width':calcSeatSize(),'height':calcSeatSize(),'position':'absolute','left':calcPositionLeft(aisle),'top':calcPositionTop(aisle)}" class="btn btn-aisle"></button>
  </ng-container>
  <ng-container *ngFor="let sector of sectors">
    <button type="button" (click)="clickSector(sector)" [ngStyle]="{'width':calcSectorSizeX(sector),'height':calcSectorSizeY(sector),'position':'absolute','left':calcPositionLeft(sector.upperBoundary),'top':calcPositionTop(sector.upperBoundary)}" class="btn btn-sector text-truncate align-middle btn-font-size-reduced">
      <h4 *ngIf="spaceForBigText(sector); else smallText">{{ sector.name }}</h4>
      <h4 *ngIf="spaceForBigText(sector)">{{ sector.capacity }}</h4>
      <ng-template #smallText>
        <p *ngIf="spaceForName(sector)">{{ sector.name }}</p>
        <p>{{ sector.capacity }}</p>
      </ng-template>
    </button>
  </ng-container>
</div>

<div *ngIf="showIllegalSize()" class="container hall-plan">
  <h2 style="text-align: center; position: relative; top: 50%; margin-left: auto; margin-right: auto" class="align-middle">Saal muss zwischen 1x1 und {{ maxHallSize.coordinateX }}x{{ maxHallSize.coordinateY }} groß sein!</h2>
</div>

<div *ngIf="isLoading()" class="container hall-plan">
  <h2 style="text-align: center; position: relative; top: 50%; margin-left: auto; margin-right: auto" class="align-middle">Saal wird geladen</h2>
</div>

<div *ngIf="isSaving()" class="container hall-plan">
  <h2 style="text-align: center; position: relative; top: 50%; margin-left: auto; margin-right: auto" class="align-middle">Saal wird gespeichert</h2>
</div>
