.hall-plan {
  position: relative;
  height: 880px;
  width: 840px;
  top: calc(50vh - 455px);
  background-color: #ffc520;
}

.stage {
  position: absolute;
  height: 20px;
  width: 500px;
  top: 20px;
  left: 150px;
  background-color: #8f8f8f;
  border-radius: 5px;
}

.btn-seat {
  background-color: #8f8f8f;
  border-radius: 5px;
}

.btn-seat:hover,
.btn-seat:focus,
.btn-seat:active{
  background-color: #898989;
}

.btn-aisle {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.btn-aisle:hover,
.btn-aisle:focus,
.btn-aisle:active{
  background-color: #dbdbdb;
}


.btn-sector {
  background-color: #8FBEFF;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.btn-sector:hover,
.btn-sector:focus,
.btn-sector:active{
  background-color: #638dc0;
}
